<div class="tool_panel">
	<h3><a href="">feeds</a></h3>
	<div class="navbar">
		<ol>
			{foreach from=$feeds item="feed"}
			<li><a {if $action == 'admin_images'}class="selected" {/if}href="/clients/{$client->getId()}/feeds/{$feed->id}">{$feed->name}</a></li>
			
			{/foreach}
		</ol>
	</div>
	
	<h3><a href="">access</a></h3>
	<div class="navbar">
		<ol>
			<li><a {if $action == 'admin_images'}class="selected" {/if}href="/clients/{$client->getId()}/feeds/{$feed->id}">{$feed->name}</a></li>
		</ol>
	</div>
</div>