{literal}

<script language="javascript" src="../../lib/jqModal.js"></script>
<script language="javascript" src="../../lib/jqDnR.js"></script>

<style>
div.whiteOverlay { background: white; }
div.jqDrag {cursor: move;}

/* jqmModal dialog CSS courtesy of;
  Brice Burgess <bhb@iceburg.net> */

div.jqmDialog {
  display: none;
    
    position: fixed;
    top: 17%;
    left: 50%;
    
    margin-left: -330px;
  width: 660px;

  overflow: hidden;
  font-family:verdana,tahoma,helvetica;
}

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html div.jqmDialog {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}


/* [[[ Title / Top Classes ]]] */
div.jqmdTC { 
  background: #d5ff84 url(/lib/jqmodalbcsprite.gif) repeat-x 0px -82px; 
  color: #528c00;
  padding: 7px 22px 5px 5px;
  font-family:"sans serif",verdana,tahoma,helvetica;
  font-weight: bold;
  * zoom: 1;
}
div.jqmdTL { background:  url(/lib/jqmodalsprite.gif) no-repeat 0px -41px; padding-left: 3px;}
div.jqmdTR { background: url(/lib/jqmodalsprite.gif) no-repeat right 0px; padding-right: 3px; * zoom: 1;}


/* [[[ Body / Message Classes ]]] */
div.jqmdBC {
  background: url(/lib/jqmodalbc.gif) repeat-x center bottom;
  padding: 7px 7px 7px;
  height: 270px;
  overflow: auto;
}
div.jqmdBL { background: url(/lib/jqmodalbl.gif) no-repeat left bottom; padding-left: 7px; }
div.jqmdBR { background: url(/lib/jqmodalbr.gif) no-repeat right bottom; padding-right: 7px; * zoom: 1 }

div.jqmdMSG { color: #317895; }


/* [[[ Button classes ]]] */
input.jqmdX {
  position: absolute;
  right: 7px;
  top: 4px;
  padding: 0 0 0 19px;
  height: 19px;
  width: 0px;
  background: url(/lib/jqmodalclose.gif) no-repeat top left;
  overflow: hidden;
}
input.jqmdXFocus {background-position: bottom left; outline: none;}

div.jqmdBC button, div.jqmdBC input[type="submit"] {
  margin: 8px 10px 4px 10px;
  color: #777;
  background-color: #fff;
  cursor: pointer;
}

div.jqmDialog input:focus, div.jqmDialog input.iefocus { background-color: #eaffc3; }}
</style>

<script language="javascript">
	
	$().ready(function() {
	$('#tabs').tabs();
	
	(function($) {
  $.fn.outerHTML = function() {
    return $(this).clone().wrap('<div></div>').parent().html();
  }
})(jQuery);



  $('#ex3a').jqm({
    overlay: 30, /* 0-100 (int) : 0 is off/transparent, 100 is opaque */
    overlayClass: 'whiteOverlay'})
    .jqDrag('.jqDrag'); /* make dialog draggable, assign handle to title */
  
  // Close Button Highlighting. IE doesn't support :hover. Surprise?
  $('input.jqmdX')
  .hover(
    function(){ $(this).addClass('jqmdXFocus'); }, 
    function(){ $(this).removeClass('jqmdXFocus'); })
  .focus( 
    function(){ this.hideFocus=true; $(this).addClass('jqmdXFocus'); })
  .blur( 
    function(){ $(this).removeClass('jqmdXFocus'); });

});
	
</script>

<script>
function submitForm(sel,cb) {
    var form = $(sel);
    $.ajax({
        type: "POST",
        url: form.action ? form.action : document.URL,
        data: $(form).serialize(),
        dataType: "text",
        beforeSend: function(xhr) {
            xhr.setRequestHeader("Ajax-Request", "true");
        },
        success: function(response) {
		    cb(response);
        }
		
    });
    return false;
}

function cb(response)
{
$("#demo_div").html(response)
}

function set_code(divid)
{
clone = $('#' + divid).clone();
clone.children().remove();
clone.removeAttr('style');
clone.removeAttr('id');
$('#code').html(clone.outerHTML().replace("<","&lt;").replace(">","&gt;"));
}

function htmlEntities(str) {
    return String(str).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/"/g, '&quot;');
}

function updateDivs()
{
var params = "";
var i = 0;
$("select.p20options").each(function(){
	
	if(  $(this).val() != "" )
		{
		if( i > 0 ) { params = params + "&"; }
		params = params + "params[" + this.name + "]=" + encodeURIComponent(($(this).val()));
		i = i +1;
		}
});	

var width = $('input#cu_width').val();
var max = $('input#cu_maxproducts').val();
var style = $('select#cu_style').val();

$("div.odst_p20").each(function(){
    $(this).removeAttr('data-params');
	$(this).attr('data-params',params);

	$(this).removeAttr('data-style');
	$(this).attr('data-style',style);

	$(this).removeAttr('data-width');
	$(this).attr('data-width',width);
	 
	$(this).removeAttr('data-max');
  	$(this).attr('data-max',max);
	});
}
</script>

{/literal}

<h1 style="text-align:center;margin:20px 0;font-size:22px">ODST P20 Content Units</h1>
	<form name=demo_form method="post" action="/p20/home.html">
		<h2>{$feed.feedname} Content Units</h2>
		<br>
		<div style="padding:10px;width:450px;border:2px solid #D9D9D9;border-radius: 16px 16px 16px 16px;">
		<strong>Select options to preview content units for {$feed.feedname}</strong><br><br>
		{foreach from=$feed.searchoptions item=field}
		<p><strong>{$field.fieldname}</strong>:
		<select class="p20options" name={$field.fieldname}>
			<option value="">Any</option>
			{foreach from=$field.options item=option}
			<option value="{$option}">{$option|escape:"htmlall"}</option>
			{/foreach}
		</select></p>
		{/foreach}
		<p>
		<strong>Width</strong>: <input style="width:50px" type="text" id="cu_width" value="500px"></input>
		&nbsp;&nbsp;
		<strong>Maximum products</strong>:<input style="width:50px" type="text" id="cu_maxproducts" value="6"></input>
		<strong>Style</strong>:
		
		<select id="cu_style" name="style">
			<option value="">Default</option>
			{foreach from=$feed.styles item=style}
			<option value="{$style}">{$style}</option>
			{/foreach}
		</select></p>
		
		</p>
		
		
	<button type="submit" style="margin:10px 0" value="show_preview" onclick="updateDivs();ODST_P20.display(ODST_P20);return false;">
	 Preview Content Units
            </button>
		</div>
<div id="tabs" style="margin-top:20px">
   <ul>
      <li><a href="#tabs-2">Carousel Style</a></li>
      <li><a href="#tabs-1">Grid Style</a></li>
      <li><a href="#tabs-3">Directory Style</a></li>
   </ul>
   <div id="tabs-1">
		<a class="modal" href="#" onclick="set_code('grid');$('#ex3a').jqmShow();return false;">get code</a>
		<div style="margin:10px 0" id="grid" class="odst_p20" data-style="default" data-client="{$feed.client}" data-type="grid" data-width="500px" data-max="6" ></div>
   </div>
   <div id="tabs-2">
	<a class="modal" href="#" onclick="set_code('carousel');$('#ex3a').jqmShow();return false;">get code</a>
	<div   style="margin:10px 0" id="carousel" class="odst_p20" data-style="default"  data-client="{$feed.client}" data-type="carousel" data-width="500px" data-max="6"></div>
   </div>
   <div id="tabs-3">
    <a class="modal" href="#" onclick="set_code('directory');$('#ex3a').jqmShow();return false;">get code</a>
	<div style="margin:10px 0" id="directory" class="odst_p20" data-style="default"  data-client="{$feed.client}" data-type="directory" data-width="500px" data-max="6"></div>

   </div>
</div>
			
	</form>	
	
	<script src="http://odst.co.uk/api/p20/p20.js" type="text/javascript"></script>
<script>
	ODST_P20.showContentUnits();
</script>


<div id="ex3a" class="jqmDialog">
<div class="jqmdTL"><div class="jqmdTR"><div class="jqmdTC jqDrag">P20 Content Unit Code</div></div></div>
<div class="jqmdBL"><div class="jqmdBR"><div class="jqmdBC">

<div class="jqmdMSG">
Include the following once your page, it is best to include it in the footer.
<pre>
&lt;script src="http://odst.co.uk/api/p20/p20.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;script&gt;
	ODST_P20.showContentUnits();
&lt;/script&gt;
</pre>
<br /><br />
Add this div tag to where you want the content unit to appear:
<pre><span id="code">
&lt;div class="odst_p20" data-client="{$feed.client}" data-type="grid" data-max="10" data-width="500px" &gt;&lt;/div&gt;
</span>
</pre>
</div>

</div></div></div>
<input type="image" src="dialog/close.gif" class="jqmdX jqmClose" />
</div>

