<script>
</script>

<div id="contentunits">
	
		{literal}
	
	<table style="border-collapse: separate;border-spacing:8px;" cellpadding="8" cellspacing="8">
		<tr>
		<td>		
		
		<script type="text/javascript">
var aid = '{/literal}{$p20.affiliate_id}{literal}';
var url = 'http://s.odst.co.uk/api/disney/banners.php?w=300&h=250&aid=' + aid + '&id=1&x=' + new String (Math.random()).substring (2, 11);
document.write('<sc'+'ript type="text/javascript" src="'+url+'"></sc'+'ript>');
</script>
		</td>
		<td valign="top">
		<b>300px x 250px Search Banner Code</b> <br>
		<textarea style="width:300px;height:200px"><script type="text/javascript">
var aid = '{/literal}{$p20.affiliate_id}{literal}';
var url = 'http://s.odst.co.uk/api/disney/banners.php?w=300&h=250&aid=' + aid + '&id=1&x=' + new String (Math.random()).substring (2, 11);
document.write('<sc'+'ript type="text/javascript" src="'+url+'"></sc'+'ript>');
</script></textarea>
		</td>
		</tr>
		</table>
	
	
	<table style="border-collapse: separate;border-spacing:8px;" cellpadding="8" cellspacing="8">
		<tr>
		<td>		
		
		<script type="text/javascript">
var aid = '{/literal}{$p20.affiliate_id}{literal}';
var url = 'http://s.odst.co.uk/api/disney/banners.php?w=160&h=600&aid=' + aid + '&id=1&x=' + new String (Math.random()).substring (2, 11);
document.write('<sc'+'ript type="text/javascript" src="'+url+'"></sc'+'ript>');
</script>
		</td>
		<td valign="top">
		<b>160px x 600px Search Banner Code</b> <br>
		<textarea style="width:300px;height:200px"><script type="text/javascript">
var aid = '{/literal}{$p20.affiliate_id}{literal}';
var url = 'http://s.odst.co.uk/api/disney/banners.php?w=160&h=600&aid=' + aid + '&id=1&x=' + new String (Math.random()).substring (2, 11);
document.write('<sc'+'ript type="text/javascript" src="'+url+'"></sc'+'ript>');
</script></textarea>
		</td>
		</tr>
		</table>
		
		<table style="border-collapse: separate;border-spacing:8px;" cellpadding="8" cellspacing="8">
		<tr>
		<td>		
		
		<script type="text/javascript">
var aid = '{/literal}{$p20.affiliate_id}{literal}';
var url = 'http://s.odst.co.uk/api/disney/banners.php?w=460&h=125&aid=' + aid + '&id=1&x=' + new String (Math.random()).substring (2, 11);
document.write('<sc'+'ript type="text/javascript" src="'+url+'"></sc'+'ript>');
</script>
		</td>
		<td valign="top">
		<b>460px x 125px Search Banner Code</b> <br>
		<textarea style="width:300px;height:200px"><script type="text/javascript">
var aid = '{/literal}{$p20.affiliate_id}{literal}';
var url = 'http://s.odst.co.uk/api/disney/banners.php?w=460&h=125&aid=' + aid + '&id=1&x=' + new String (Math.random()).substring (2, 11);
document.write('<sc'+'ript type="text/javascript" src="'+url+'"></sc'+'ript>');
</script></textarea>
		</td>
		</tr>
		</table>
		
		<table style="border-collapse: separate;border-spacing:8px;" cellpadding="8" cellspacing="8">
		<tr>
		<td>		
		
		<script type="text/javascript">
var aid = '{/literal}{$p20.affiliate_id}{literal}';
var url = 'http://s.odst.co.uk/api/disney/banners.php?w=728&h=90&aid=' + aid + '&id=1&x=' + new String (Math.random()).substring (2, 11);
document.write('<sc'+'ript type="text/javascript" src="'+url+'"></sc'+'ript>');
</script>
		</td>
		<td valign="top">
		<b>728px x 90px Search Banner Code</b> <br>
		<textarea style="width:300px;height:200px"><script type="text/javascript">
var aid = '{/literal}{$p20.affiliate_id}{literal}';
var url = 'http://s.odst.co.uk/api/disney/banners.php?w=728&h=90&aid=' + aid + '&id=1&x=' + new String (Math.random()).substring (2, 11);
document.write('<sc'+'ript type="text/javascript" src="'+url+'"></sc'+'ript>');
</script></textarea>
		</td>
		</tr>
		</table>
		{/literal}
</div>	
