<script>
</script>

<div id="contentunits">
	
		{literal}
	
	<table style="border-collapse: separate;border-spacing:8px;" cellpadding="8" cellspacing="8">
		<tr>
		<td>		
		
		<script type="text/javascript">
var aid = '{/literal}{$p20.affiliate_id}{literal}';
var url = 'http://s.odst.co.uk/api/disney/banners.php?aid=' + aid + '&id=1&x=' + new String (Math.random()).substring (2, 11);
document.write('<sc'+'ript type="text/javascript" src="'+url+'"></sc'+'ript>');
</script>
		</td>
		<td>
		300px x 250px Search Banner Code <br>
		<textarea style="width:300px;height:250px"><script type="text/javascript">
var aid = '{/literal}{$p20.affiliate_id}{literal}';
var url = 'http://s.odst.co.uk/api/disney/banners.php?aid=' + aid + '&id=1&x=' + new String (Math.random()).substring (2, 11);
document.write('<sc'+'ript type="text/javascript" src="'+url+'"></sc'+'ript>');
</script></textarea>
		</td>
		</tr>
		</table>
	
		{/literal}
</div>	
