<script>
</script>

<div id="contentunits">
	
		<h2 id="unitname">Search Banners</h2>

		<table style="border-collapse: separate;border-spacing:8px;" cellpadding="8" cellspacing="8">
		<tr>
		<td>		
		{literal}
		<script type="text/javascript">
		var aid = '1234';
var cid = '1234'
var url = 'http://odstest.co.uk/api/hilton/banners.php?aid=' + aid + '&cid=' + cid + '&id=1&w=160&h=600&x=' + new String (Math.random()).substring (2, 11);
document.write('<sc'+'ript type="text/javascript" src="'+url+'"></sc'+'ript>');
</script>
		{/literal}</td>
		<td>
		160px x 600px<br>
		<textarea style="width:380px;height:200px"><script type="text/javascript">
		var aid = '1234';
var cid = '1234'
var url = 'http://odstest.co.uk/api/hilton/banners.php?aid=' + aid + '&cid=' + cid + '&id=1&w=160&h=600&x=' + new String (Math.random()).substring (2, 11);
document.write('<sc'+'ript type="text/javascript" src="'+url+'"></sc'+'ript>');
</script></textarea>
		</td>
		</tr>
		</table>
	<table style="border-collapse: separate;border-spacing:8px;" cellpadding="8" cellspacing="8">	
		<tr>
		<td>		
		{literal}
		<script type="text/javascript">
var aid = '1234';
var cid = '1234'
var url = 'http://odstest.co.uk/api/hilton/banners.php?aid=' + aid + '&cid=' + cid + '&id=1&w=120&h=600&x=' + new String (Math.random()).substring (2, 11);
document.write('<sc'+'ript type="text/javascript" src="'+url+'"></sc'+'ript>');
</script>
		{/literal}</td>
		<td>
		120px x 600px<br>
		<textarea style="width:380px;height:200px"><script type="text/javascript">
var aid = '1234';
var cid = '1234'
var url = 'http://odstest.co.uk/api/hilton/banners.php?aid=' + aid + '&cid=' + cid + '&id=1&w=120&h=600&x=' + new String (Math.random()).substring (2, 11);
document.write('<sc'+'ript type="text/javascript" src="'+url+'"></sc'+'ript>');
</script></textarea>
		</td>
		</tr>
		</table>
	<table style="border-collapse: separate;border-spacing:8px;" cellpadding="8" cellspacing="8">
				<tr>
		<td>		
		{literal}
		<script type="text/javascript">
var aid = '1234';
var cid = '1234'
var url = 'http://odstest.co.uk/api/hilton/banners.php?aid=' + aid + '&cid=' + cid + '&id=1&w=460&h=125&x=' + new String (Math.random()).substring (2, 11);
document.write('<sc'+'ript type="text/javascript" src="'+url+'"></sc'+'ript>');
</script>
		{/literal}</td></tr><tr>
		<td>
		460px x 125px<br>
		<textarea style="width:380px;height:200px"><script type="text/javascript">
var aid = '1234';
var cid = '1234'
var url = 'http://odstest.co.uk/api/hilton/banners.php?aid=' + aid + '&cid=' + cid + '&id=1&w=460&h=125&x=' + new String (Math.random()).substring (2, 11);
document.write('<sc'+'ript type="text/javascript" src="'+url+'"></sc'+'ript>');
</script></textarea>
		</td>
		</tr>
</table>
	<table style="border-collapse: separate;border-spacing:8px;" cellpadding="8" cellspacing="8">
		<tr>
		<td>		
		{literal}
		<script type="text/javascript">
var aid = '1234';
var cid = '1234'
var url = 'http://odstest.co.uk/api/hilton/banners.php?aid=' + aid + '&cid=' + cid + '&id=1&w=728&h=90&x=' + new String (Math.random()).substring (2, 11);
document.write('<sc'+'ript type="text/javascript" src="'+url+'"></sc'+'ript>');
</script>
		{/literal}</td></tr><tr>
		<td>
		728px x 90px<br>
		<textarea style="width:380px;height:200px"><script type="text/javascript">
var aid = '1234';
var cid = '1234'
var url = 'http://odstest.co.uk/api/hilton/banners.php?aid=' + aid + '&cid=' + cid + '&id=1&w=728&h=90&x=' + new String (Math.random()).substring (2, 11);
document.write('<sc'+'ript type="text/javascript" src="'+url+'"></sc'+'ript>');
</script></textarea>
		</td>
		</tr>
		</table>
	<table style="border-collapse: separate;border-spacing:8px;" cellpadding="8" cellspacing="8">
		<tr>
		<td>		
		{literal}
		<script type="text/javascript">
var aid = '1234';
var cid = '1234'
var url = 'http://odstest.co.uk/api/hilton/banners.php?aid=' + aid + '&cid=' + cid + '&id=1&w=300&h=250&x=' + new String (Math.random()).substring (2, 11);
document.write('<sc'+'ript type="text/javascript" src="'+url+'"></sc'+'ript>');
</script>
		{/literal}</td>
		<td>
		300px x 250px<br>
		<textarea style="width:380px;height:200px"><script type="text/javascript">
var aid = '1234';
var cid = '1234'
var url = 'http://odstest.co.uk/api/hilton/banners.php?aid=' + aid + '&cid=' + cid + '&id=1&w=300&h=250&x=' + new String (Math.random()).substring (2, 11);
document.write('<sc'+'ript type="text/javascript" src="'+url+'"></sc'+'ript>');
</script></textarea>
		</td>
		</tr>
		</table>
</div>		