<script>
</script>

<div id="contentunits">
	
		{literal}
	
		<table style="border-collapse: separate;border-spacing:8px;" cellpadding="8" cellspacing="8">
		<tr>
		<td>		
		
		<iframe src='http://s.odst.co.uk/api/livingsocial/banner_486x60.php?aid={/literal}{$p20.affiliate_id}{literal}' width='486' height='60' frameBorder='0' scrolling='no'></iframe>
		
		</td>
		<td valign="top">
		<b>486x60px Banner Code</b> <br>
		<textarea style="width:300px;height:200px"><iframe src='http://s.odst.co.uk/api/livingsocial/banner_486x60.php?aid={/literal}{$p20.affiliate_id}{literal}' width='486' height='60' frameBorder='0' scrolling='no'></iframe>		
		</textarea>
		</td>
		</tr>
		</table>
		
	<table style="border-collapse: separate;border-spacing:8px;" cellpadding="8" cellspacing="8">
		<tr>
		<td>		
		
		<iframe src='http://s.odst.co.uk/api/livingsocial/banner_250x250.php?aid={/literal}{$p20.affiliate_id}{literal}' width='250' height='250' frameBorder='0' scrolling='no'></iframe>
		
		</td>
		<td valign="top">
		<b>250x250px Banner Code</b> <br>
		<textarea style="width:300px;height:200px"><iframe src='http://s.odst.co.uk/api/livingsocial/banner_250x250.php?aid={/literal}{$p20.affiliate_id}{literal}' width='250' height='250' frameBorder='0' scrolling='no'></iframe>		
		</textarea>
		</td>
		</tr>
		</table>
		
		<table style="border-collapse: separate;border-spacing:8px;" cellpadding="8" cellspacing="8">
		
		<tr>
		<td>		
		
		<iframe src='http://s.odst.co.uk/api/livingsocial/banner_120x600.php?aid={/literal}{$p20.affiliate_id}{literal}' width='120' height='600' frameBorder='0' scrolling='no'></iframe>
		
		</td>
		<td valign="top">
		<b>120x600px Banner Code</b> <br>
		<textarea style="width:300px;height:200px"><iframe src='http://s.odst.co.uk/api/livingsocial/banner_120x600.php?aid={/literal}{$p20.affiliate_id}{literal}' width='120' height='600' frameBorder='0' scrolling='no'></iframe>		
		</textarea>
		</td>
		</tr>
		</table>
		<table style="border-collapse: separate;border-spacing:8px;" cellpadding="8" cellspacing="8">
		<tr>
		<td>		
		
		<iframe src='http://s.odst.co.uk/api/livingsocial/banner_728x90.php?aid={/literal}{$p20.affiliate_id}{literal}' width='728' height='90' frameBorder='0' scrolling='no'></iframe>
		
		</td>
		<td valign="top">
		<b>728x90px Banner Code</b> <br>
		<textarea style="width:300px;height:200px"><iframe src='http://s.odst.co.uk/api/livingsocial/banner_728x90.php?aid={/literal}{$p20.affiliate_id}{literal}' width='728' height='90' frameBorder='0' scrolling='no'></iframe>		
		</textarea>
		</td>
		</tr>
		</table>
		<table style="border-collapse: separate;border-spacing:8px;" cellpadding="8" cellspacing="8">
		<tr>
		<td>		
		
		<iframe src='http://s.odst.co.uk/api/livingsocial/banner_300x250.php?aid={/literal}{$p20.affiliate_id}{literal}' width='300' height='250' frameBorder='0' scrolling='no'></iframe>
		
		</td>
		<td valign="top">
		<b>300x250px Banner Code</b> <br>
		<textarea style="width:300px;height:200px"><iframe src='http://s.odst.co.uk/api/livingsocial/banner_300x250.php?aid={/literal}{$p20.affiliate_id}{literal}' width='300' height='250' frameBorder='0' scrolling='no'></iframe>		
		</textarea>
		</td>
		</tr>
		
		</table>
	
		{/literal}
</div>	
