<link rel="stylesheet" href="/style/easyjet.css" type="text/css" media="screen">
{literal}
<style type="text/css">
  #header, #footer{
  	background-color: #351C75;
  }
</style>
{/literal}
<div id="easyjet">
	<div class="header">
	</div>

	<div class="main clearfix">
		<div style="text-align: center">
			<h2>ODST's easyJet holidays plugin is:</h2>
		</div>
		<section class="column">
			<div>
				<h2 class="top">for existing affiliates</h2>
				<p>quickly and easily add carousels and directories to your wordpress site so you can start earning commission from your travel blog.</p>
				<img src="/images/plugin/image1.png" />
			</div>

			<div>
				<h2>looking to customise?</h2>
				<p>the eJh plugin allows you to easily select between branded and non-branded designs on the fly, simply select which you'd like  to add to the page or post you're editing  and hit the insert button.</p>
				<img src="/images/plugin/image2.png" />
				<p>easily customise the look and feel of your carousels and directories to match the style of your site all from within  your WordPress admin.</p>
			</div>

			<div>
				<h2>getting the correct ads in the correct page</h2>
				<p>getting the correct ads in the correct page can take a lot of work  but the eJh plugin helps with this. simply select the contextual option when adding directories or carousels to your content or when adding a widget to your side bar; the eJh plugin  will do the rest and pick the best hotels for your content.</p>
				<img src="/images/plugin/image3.png" />
			</div>

		</section>

		<section class="column right_column">
			<div>
				<h2 class="top">for new travel affiliates</h2>
				<p>quickly and easily create content rich affiliate websites and start earning commission from  your travel blogging efforts.</p>
				<img src="/images/plugin/image4.png" />
			</div>

			<div>
				<h2>why ODST's eJh plugin?</h2>
				<p>keeping your site updated  with all the latest prices and deals has never been easier. once you've activated the eJh plugin, adding holiday deals and offers is as simple as pressing a button. whether you're writing new articles or adding advertisements to existing ones; monetising from your content has never been easier.</p>
				<img src="/images/plugin/image5.png" />
			</div>

			<div>
				<h2>keep it updated</h2>
				<p>in the past, ensuring your affiliate site had the latest offers and updated pricing was a daunting, if not impossible task. with ODST's eJh plugin, price changes are handled automagically.</p>
			</div>
		</section>
	</div>
	<div class="main clearfix">
		<div style="text-align: center">
			<h2>ODST's eJh plugin is FREE for everyone</h2>
			<h2>getting started</h2>
		</div>

		<section class="column">
			<div>
				<p>to get started you will need a webgains affiliate account and to have been accepted on to the easyJet holidays program. <a style="font-weight: bold;" href="http://www.webgains.com/signup.html?programid=4813" rel="nofollow" target="_blank">signup now</a></p>
			</div>



		</section>

		<section class="column right_column">
			<div>
				<p>you'll also need an ODST username and password to activate the eJh WordPress plugin; <a style="font-weight: bold;" href="http://www.odst.co.uk/signup.html" target="_blank">register now</a></p>
			</div>
		</section>
	</div>
	<div class="main clearfix">
		<div style="text-align: center">
			<h2>download the easyJet holidays WordPress plugin now</h2>
			<a href="/downloads/odsteJh.zip" target="_blank"><img src="/images/plugin/clickhere.png" /></a><br />
			<img src="/images/plugin/webgains.png" />
			<br />
			<br />
			<br />
			<br />
			<br />
		</div>
		
	</div>
</div>