<p>The Key to any online marketing is having expertly designed banners to generate high click-through rates to your web site.</p> 
<p>ODST &amp; Thrust Digital are trusted by SME to multinational brands alike for their banner design and advertising expertise.</p> 
<p>Standard banners sizes are as outlined by the IAB (88&#215;31, 120&#215;600, 120&#215;60, 125&#215;125, 234&#215;60, 468&#215;60) to adhere to industry standards.</p> 
<p><strong> </strong></p> 
<p><strong><span style="color: #82bcef;">Pricing for sets of 6 .gif Banners produced as 1 design in 6 standard sizes:</span></strong></p> 
<table border="1" cellspacing="0" cellpadding="0"> 
<tbody> 
<tr> 
<td width="154" valign="top"><strong><span style="color: #82bcef;">Quantity</span></strong></td> 
<td width="162" valign="top"><strong><span style="color: #82bcef;">Total Cost</span></strong></td> 
</tr> 
<tr> 
<td width="154" valign="top">1 Set</td> 
<td width="162" valign="top">£500.00</td> 
</tr> 
<tr> 
<td width="154" valign="top">2 Sets Yearly</td> 
<td width="162" valign="top">£950.00</td> 
</tr> 
<tr> 
<td width="154" valign="top">3 Sets Yearly</td> 
<td width="162" valign="top">£1350.00</td> 
</tr> 
<tr> 
<td width="154" valign="top">4 Sets Yearly</td> 
<td width="162" valign="top">£1700.00</td> 
</tr> 
<tr> 
<td width="154" valign="top">5 Sets Yearly</td> 
<td width="162" valign="top">£2000.00</td> 
</tr> 
<tr> 
<td width="154" valign="top">6 Sets Yearly</td> 
<td width="162" valign="top">£2100.00</td> 
</tr> 
</tbody> 
</table> 
<p>To in contact today for better converting banners by emailing <a href="mailto:sales@odst.co.uk">info@odst.co.uk</a></p> 