<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
	<head>
		<link rel="stylesheet" href="/style/style.css" type="text/css" media="screen">
		<title>{if $page.title}{$page.title} - {/if}Performance Marketing | ODST</title>
		<script language="JavaScript" type="text/javascript" src="/contentflow.js"></script> 
		<script tyle="text/javascript">
			{literal}
	        var cf = new ContentFlow('contentFlow', {reflectionColor: "#ffffff", scaleFactor: 1});
	        {/literal}
	    </script>
	</head>
	<body class="">
		<div id="header">
			<div class="innerHeader">
				<a href="/"><img src="/images/odst_logo.png" /></a>
			</div>
		</div><!-- END #header -->
		
		
	    </div>
		<div id="content" class="clearfix">
			<div class="plugindownload">
				{include file=$clienttpl|escape}
			</div>

	    </div>
	    <!-- END #content --> 
		<div id="footer">
				<!--- -->
		</div><!-- END #footer --> 
	</body>
</html>