<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
	<head>
	<link rel="stylesheet" href="http://easyfeed.goldenfeeds.com/static/CACHE/css/9d41bea9d314.css" type="text/css" media="all" />	
	<link rel="stylesheet" href="http://easyfeed.goldenfeeds.com/static/CACHE/css/300401478b3e.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/style/easyfeed.css" type="text/css" media="all" />
		
		<link rel="stylesheet" href="/style/jqModal.css" type="text/css" media="screen">
		<link rel="stylesheet" href="/style/smoothness/jquery-ui-1.8.20.custom.css" type="text/css" media="screen">
		<link rel="stylesheet" href="/style/jquery.miniColors.css" type="text/css" media="screen">
		
		<script language="JavaScript" type="text/javascript" src="/lib/jquery.js"></script>
		<script language="JavaScript" type="text/javascript" src="/contentflow.js"></script> 
    	<script language="JavaScript" type="text/javascript" src="/lib/metrojs.js"></script> 
    	<script language="JavaScript" type="text/javascript" src="/lib/colorpicker.js"></script> 
		<script language="JavaScript" type="text/javascript" src="/lib/jquery-ui-1.8.20.custom.min.js"></script> 
		

		<script type="text/javascript">
			{literal}
	        var cf = new ContentFlow('contentFlow', {reflectionColor: "#ffffff", scaleFactor: 1});
	        {/literal}
	    </script>
	  
	</head>
	
				{include file=$content}	
	</body>
</html>