{literal}
<script>
  $(document).ready(function() {
    if (!("autofocus" in document.createElement("input"))) {
      $("#name").focus();
    }
  });
</script>
{/literal}

{if $page.feedback}
	<p class="feedback" style="text-align: center">
		{$page.feedback}
	</p>
	
{/if}

<form action="/forgottenpassword.html" method="post">
	<fieldset class="form">
		<ol>
			<li>
				<input id="email" name="email" class="text" type="text" placeholder="Email" autofocus />
			</li>
			<li>
				<input class="submit" name="sendemail" type="submit" value="Reset Password" />
			</li>
		</ol>
	</fieldset>
</form>