{literal}
<script>
  $(document).ready(function() {
    if (!("autofocus" in document.createElement("input"))) {
      $("#name").focus();
    }
  });
</script>
{/literal}

{if $page.feedback}
		<div class="feedback" style="margin: 20px auto 20px auto; width: 600px;">
		{$page.feedback}
	</div>
{/if}

{if $page.showform}
<form action="/forgottenpassword.html" method="post">
	<fieldset class="form">
		<ol>
		<h1 style="color:#ffffff">Forgotten Password</h1><br>
			<li>
				<input id="email" name="email" class="text" type="text" placeholder="Email" autofocus />
			</li>
			<li>
				<input class="submit" name="sendemail" type="submit" value="Reset Password" />
			</li>
		</ol>
	</fieldset>
</form>
{/if}