<script>
	{literal}
	$('document').ready(function(){
		$('#login_tile h2').click(function(){
			$('#login_tile form').submit();
		});

		$('.tile').hover(function(){
			if ($(this).attr('id') != 'shake_tile' && $(this).attr('id') != 'login_tile' && $(this).attr('id') != 'twitter_tile'&& $(this).attr('id') != 'odst_tile') {
				$(this).addClass('tile_hover');	
			}
			
			},
			function(){
				$(this).removeClass('tile_hover');
		})

		$('#email, #name').keypress(function(event) {
			if ( event.which == 13 ) {
				$('#login_tile form').submit();
			}
		});
	});
	{/literal}
</script>

<div class="tiles clearfix">
	<div id="login_tile" class="tile">
		<form action="/login.html" method="post">
			<fieldset class="form">
				<ol>
					<li>
						<input id="name" name="email" class="text" type="text" placeholder="Username" autofocus />
					</li>
					<li>
						 <input id="email" name="password" class="text" type="password" placeholder="Password" />
					</li>
					<input class="submit" name="login" type="hidden" value="Login" />
				</ol>
			</fieldset>
		</form>
		<h2 style="cursor: pointer;">login</h2>
	</div>

	<div id="odst_tile" class="tile">
		<div class="text">
		<h3 style="color: #FFFFFF; font-size: 14px;">Outsourced Digital Services &amp; Technology</h3>
		<br />
		with ODST's easy to use tools you can be sure that your site will maximise it's potential revenue growth with targetted advertising.  
		</div>
		<h2>ODST</h2>
	</div>

	<div id="wordpress_tile" class="tile">
		<a href="/images/ODST-wordpress.pdf"><h3 style="color: #FFFFFF; font-size: 14px;">ODST's WordPress plugin:</h3><br />transform your products<br/>into eye-catching<br />contextual widgets.</a>
		<h2>WordPress</h2>
	</div>

	<div id="feeds_tile" class="tile">
		<a href="/images/ODST-feeds.pdf">feed creation presentation</a>
		<h2>feeds</h2>
	</div>

	<div id="facebook_tile" class="tile">
		<a rel="nofollow" href="http://www.facebook.com/pages/ODST_co_uk/116457125039404" target="_blank">'like' our twitter page? then tweet us on facebook...</a>
		<h2>facebook</h2>
	</div>

	<div id="twitter_tile" class="twitter_tile">
	<h2>@twitter #epicfail :(</h2>
		{literal}
		<script src="http://widgets.twimg.com/j/2/widget.js"></script>
		<script>
		new TWTR.Widget({
		  version: 2,
		  type: 'profile',
		  rpp: 4,
		  interval: 30000,
		  width: 258,
		  height: 320,
		  theme: {
		    shell: {
		      background: '#0F2A3C',
		      color: '#ffffff'
		    },
		    tweets: {
		      background: '#0F2A3C',
		      color: '#ffffff',
		      links: '#cccccc'
		    }
		  },
		  features: {
		    scrollbar: false,
		    loop: false,
		    live: false,
		    behavior: 'all'
		  }
		}).render().setUser('ODST_co_uk').start();
		</script>
		{/literal}

	</div>

		<div id="client_tile" class="tile">
		<div id="tiles">
    <div class="purple list-tile" id="purple">
        <ul class="flip-list fourTiles" data-mode="flip-list" data-stops="50%,100%,0px" data-stack="true" data-delay="4250">
            <li>
                <div class="flip-front"></div>
                <div class="flip-back"><a href="#"><img src="/images/clientlogos/1pixel.gif" alt="." /></a></div>
            </li>
            <li data-direction="horizontal">
                <div class="flip-front"></div>
                <div class="flip-back"><a href="#"><img src="/images/clientlogos/1pixel.gif" alt="." /></a></div>
            </li>
            <li>
                <div class="flip-front"></div>
                <div class="flip-back"><a href="#"><img src="/images/clientlogos/1pixel.gif" alt="." /></a></div>
            </li>
            <li data-direction="horizontal">
                <div class="flip-front"></div>
                <div class="flip-back"><a href="#"><img src="/images/clientlogos/1pixel.gif" alt="." /></a></div>
            </li>
            <li>
                <div class="flip-front"></div>
                <div class="flip-back"><a href="#"><img src="/images/clientlogos/1pixel.gif" alt="." /></a></div>
            </li>
            <li>
                <div class="flip-front"></div>
                <div class="flip-back"><a href="#"><img src="/images/clientlogos/1pixel.gif" alt="." /></a></div>
            </li>
            <li>
                <div class="flip-front"></div>
                <div class="flip-back"><a href="#"><img src="/images/clientlogos/1pixel.gif" alt="." /></a></div>
            </li>
            <li class="exclude">
            <h2>clients</h2>
            </li>
            
        </ul>
       
        
    </div>
    </div>
	</div>
	

	<div id="register_tile" class="tile">
		<a href="/signup.html">affiliate account registration</a>
		<h2>register</h2>
	</div>

	<div id="shake_tile" class="tile">
		<h2>by ODST ltd. <a rel="nofollow" href="http://youtu.be/1Nkw_UQhq6M?t=33s" target="_blank">shake 'n' bake!</a></h2>
	</div>

	
</div>

<!-- Javascript to activat the live tile -->
<script type="text/javascript">
	$(document).ready( function(){
    $('.flip-list').not(".exclude").liveTile({ 
    backImages:[
                 { 
                     src:'/images/clientlogos/client1.jpg',        // path to image
                     alt:'EasyJet Holidays',            // alt text for image           
                     href:'http://odst.co.uk/wordpress/plugin/easyjetholidays.html',// href attribute if 'a' tag present
                 },
                 { 
                     src:'/images/clientlogos/client2.jpg',        // path to image
                     alt:'Forthill Home',            // alt text for image           

                 },
                 { 
                     src:'/images/clientlogos/client3.jpg',        // path to image
                     alt:'JT Spas',            // alt text for image           

                 },
                 { 
                     src:'/images/clientlogos/client4.jpg',        // path to image
                     alt:'Damsel In A Dress',            // alt text for image           

                 },
                 { 
                     src:'/images/clientlogos/client5.jpg',        // path to image
                     alt:'Chesca',            // alt text for image           

                 },
                 { 
                     src:'/images/clientlogos/client6.jpg',        // path to image
                     alt:'Easy Life',            // alt text for image           

                 },
                 { 
                     src:'/images/clientlogos/client7.jpg',        // path to image
                     alt:'Octopus.com',            // alt text for image           
                     href:'http://odst.co.uk/wordpress/plugin/octopustravel.html',// href attribute if 'a' tag present
                 }
                ] 
	});
	});
	
</script>