{literal}
<script>
  $(document).ready(function() {
    if (!("autofocus" in document.createElement("input"))) {
      $("#name").focus();
    }
  });
</script>
{/literal}

{if $page.feedback}
	<p class="feedback">
		{$page.feedback}
	</p>
	
{/if}

<div class="feedback">
	&nbsp;
</div>

<form action="/login.html" method="post">
	<fieldset class="form">
		<ol>
			<li>
				<img src="images/odst_logo.png" />
			</li>
			<li>
				<input id="name" name="email" class="text" type="text" placeholder="Username" autofocus />
			</li>
			<li>
				 <input id="email" name="password" class="text" type="password" placeholder="Password" />
			</li>
			<li>
				<input class="submit" name="login" type="submit" value="Login" />
			</li>
		</ol>
	</fieldset>
</form>