{literal}
<script>
  $(document).ready(function() {
    if (!("autofocus" in document.createElement("input"))) {
      $("#name").focus();
    }
  });
</script>
{/literal}

{if $page.feedback}
	<p class="feedback" style="text-align: center">
		{$page.feedback}
	</p>
	
{/if}

<form action="/login.html?url={$page.redirect}" method="post">
	<fieldset class="form">
		<ol>
		<h1 style="color:#ffffff">Login</h1><br>
		{if $page.redirect}
	<p class="feedback" style="text-align: center">
		You must be logged in to access this page.
	</p>
	{/if}
		<br>
			<li>
				<input id="name" name="email" class="text" type="text" placeholder="Username" autofocus />
			</li>
			<li>
				 <input id="email" name="password" class="text" type="password" placeholder="Password" />
			</li>
			<li>
				<input class="submit" name="login" type="submit" value="Login" />
			</li>
			<br><br>
			<a href="/forgottenpassword.html">Forgotten Password?</a>
		</ol>
	</fieldset>
</form>