<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
	<head>
		<link rel="stylesheet" href="style/style.css" type="text/css" media="screen">
		<title>{if $page.title}{$page.title} - {/if}Performance Marketing | ODST</title>
		<script language="JavaScript" type="text/javascript" src="/contentflow.js"></script> 
		<script tyle="text/javascript">
			{literal}
	        var cf = new ContentFlow('contentFlow', {reflectionColor: "#ffffff", scaleFactor: 0.5});
	        {/literal}
	    </script>
	</head>
	<body class="">
		<div id="header">
			<div class="innerHeader">
				<img src="images/odst_logo.png" />
			</div>
		</div><!-- END #header -->
		
		<div id="contentFlowWrapper">
			<div id="contentFlow" class="ContentFlow">
	        <!-- should be place before flow so that contained images will be loaded first -->
	
		        <div class="flow">
					{foreach from=$coverimages item="image"}
		            <div class="item" href="{$image.href}">
		                <img class="content" src="{$image.url}"/>
		                <div class="caption">{$image.alt}</div>
		            </div>
		            {/foreach}
				</div>
		        <div class="globalCaption"></div>
		    </div>
	    </div>
		<div id="content" class="clearfix">
			<div class="inner">
				<div class="navbar">
					<ol>
						<li><a {if $action == 'login'}class="selected" {/if}href="/login.html">login</a></li>
						<li><a {if $action == 'home'}class="selected" {/if}href="/">home</a></li>
						<li><a {if $action == 'feeds'}class="selected" {/if}href="/product-feeds.html">feeds</a></li>
						<li><a {if $action == 'widgets'}class="selected" {/if}href="/widgets.html">widgets</a></li>
						<li><a {if $action == 'opm'}class="selected" {/if}href="/affiliates-management.html">affiliate OPM</a></li>
						<li><a {if $action == 'banners'}class="selected" {/if}href="/banner-design.html">banner design</a></li>
						<li><a {if $action == 'contact'}class="selected" {/if}href="/contact-us.html">contact us</a></li>
					</ol>
				</div>
				<div  id="main">
					{include file=$content}
					{if $action != 'login'}
					<div id="social" class="clearfix">
						<fieldset id="latest_news">
							<legend>latest news</legend>
							Coming soon...
							
							
						</fieldset>
						<fieldset id="twitter">
							<script src="http://widgets.twimg.com/j/2/widget.js"></script>
							{literal}
							<script>
							new TWTR.Widget({
							  version: 2,
							  type: 'profile',
							  rpp: 4,
							  interval: 6000,
							  width: 450,
							  height: 250,
							  theme: {
							    shell: {
							      background: '#0f2a3c',
							      color: '#ffffff'
							    },
							    tweets: {
							      background: '#000000',
							      color: '#ffffff',
							      links: '#607890'
							    }
							  },
							  features: {
							    scrollbar: false,
							    loop: false,
							    live: false,
							    hashtags: true,
							    timestamp: true,
							    avatars: false,
							    behavior: 'all'
							  }
							}).render().setUser('ODST_co_uk').start();
							{/literal}
							</script>
						</fieldset>
					</div>
					{/if}
				</div>
								
			</div>
	    </div>
	    <!-- END #content --> 
		<div id="footer">
			<div class="inner"> 
			<!--img src="images/img_footer_tropper.jpg" width="657" height="182" alt="" /--> 
			</div>
		</div><!-- END #footer --> 
	</body>
</html>