<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
	<head>
		<link rel="stylesheet" href="/style/style.css" type="text/css" media="screen">
		<title>{if $page.title}{$page.title} - {/if}Performance Marketing | ODST</title>
		<script language="JavaScript" type="text/javascript" src="/contentflow.js"></script> 
		<script tyle="text/javascript">
			{literal}
	        var cf = new ContentFlow('contentFlow', {reflectionColor: "#ffffff", scaleFactor: 1});
	        {/literal}
	    </script>
	</head>
	<body class="">
		<div id="header">
			<div class="innerHeader">
				<a href="/"><img src="/images/odst_logo.png" /></a>
			</div>
		</div><!-- END #header -->
		
		
	    </div>
		<div id="content" class="clearfix">
					{include file="login.tpl.html"}
			<div style="width: 200px; margin: auto;">
				<table border="0" cellpadding="0" cellspacing="2">
					<tr>
						<td><a href="images/ODST-feeds.pdf"><img src="images/download-pdf.jpg" style="height: 50px;" alt="Download PDF" /></a></td>
						<td><a href="images/ODST-feeds.pdf"><br />Download our PDF for an overview of our services</a></td>
					</tr>
				</table>
			</div>
	    </div>
	    <!-- END #content --> 
		<div id="footer">
			<div class="inner"> 
			<!--img src="images/img_footer_tropper.jpg" width="657" height="182" alt="" /--> 
			</div>
		</div><!-- END #footer --> 
	</body>
</html>