<div class="privacypolicy">
<div style="text-align: left"><h1>Affiliate Marketing and Affiliate Management</h1></div>

<p>Affiliate Marketing is a truly unique form of online marketing where the focus truly is in providing you with sales. Affiliate marketing is often over looked as a key part 
of advertisers (merchants) online marketing strategy and as a result it has remained something of an “anomaly” to marketing teams the world over.</p>

<p>With the UK Affiliate Marketing Industry now generating in excess of £5 billion on 2011 which accounts for about 10% off all online retail spend the affiliate industry is becoming 
harder and harder to ignore, which is why companies like Sainsbury’s, My Travel, Virgin to name a few are turning to affiliates as a way of increasing their online market share and 
it is easy to see why.</p>

<p>How Affiliate Marketing Works: Affiliate marketing is truly performance marketing in its purest form where the merchant (advertiser) is only paying the affiliate (publisher) 
where they refer a sale to the merchant’s website and that sales has been confirmed. Think of it like having you own sales team who work on a commission only basis.</p>

<p><i>Affiliates how ever take many forms and each type of affiliate will require a different approach.</i></p>

<h2>Affiliate Types:</h2>

<h2>Voucher Affiliates:</h2><p>Voucher codes have become increasingly popular over the last few years and as a result a number of voucher code affiliates sites have appeared 
probably the two largest of these are MyVoucherCodes.co.uk and VoucherCode.co.uk who have both created a impressive daily user base and email lists counting in the millions, 
but be aware these aren’t the only two voucher affiliate out there. Working with voucher affiliates bring in the challenge of weighing the importance of turn over to profit 
margin so voucher sites aren’t right for every merchants but if you can setup the right offer for them, a lot of the time this means creating a unique voucher code for each 
of them, they can drive large a large volume of sales in a relatively short time.</p>

<h2>CashBack Affiliate:</h2><p>In the UK land scrap there are two such site that stand out above the rest, TopCashBack and Quidco, both these cash back site work with affiliate 
programmes to offer 100% commission cash back to the customers, for if you’re offer 5% commission on a sales they’ll offer the users the hole 5% in cash back, working this 
way mean that the site are going to be looking for something extra in return for more than just a stand listings, this takes the form of either a increase commission for a 
preset time (note the customer will receive the increased commission still) or what’s become known as a tenancy agreement when the merchant pays a fixed amount to be shown at 
the top of their listing or other promotion spots around there site.</p>


<p><i>Cashback and VoucherCode sites can be a great way of generating sales through your affiliate programme but be warned favoring them can have a negative affect with other 
affiliates who when worked with correctly can also generate large volumes of sales.</i></p>

<h2>Price Comparison Site:</h2><p>Often these site can be over looked as part of the affiliate world as many of them have a preference to work on a CPC (cost per click) basis, 
but with companies like MoneySuperMarket and their sister site TravelSuperMarket often favoring a CPA model you can definitely find some excellent performing comparison affiliates 
in the affiliate marketing world. When working with comparison site the most important things is to make sure you have a correctly formatted and up to date product feed, comparison 
sites will always look closely at there EPC (earnings per click) as a metric of performance, there are a number of way you can help these sites but one of the best is to setup a 
custom feed for them and help keep your EPC as high as possible by filtering out non converting products as well as keep close contact with them as they will often have the best idea 
of what their customers of search for on their site.</p>

<h2>SEO / Review Affiliates:</h2><p>Probably the hardest of affiliates to work with correctly but in many ways the one of the most rewarding are SEO and reviews affiliates. 
These affiliate are often over looked by account managers and it’s easy to see why this is the case for the simple reason that they take time to start generating sales, 
should they be over looked though? <strong>In ODST’s opinion defiantly not</strong>, although it can take a while to build volume of sales from them these affiliates our, on our opinion, what affiliate 
marketing is truly about have teams of web masters building content rich, SEO friendly sites that target long tail terms promoting your product of services can only be good for business 
and as such will help drive truly incremental sales to your business, how you work to encourage them to promote you is another matter altogether but arranging competitions that are designed 
to encourage SEO techniques is definitely a good starting point.</p>

<p>For more information on Affiliate Marketing in the UK you can try visiting Affiliates4u the leading UK affiliate forum of feel free to contact ODST on 
<a href="mailto:affiliates@odst.co.uk">affiliates@odst.co.uk</a> and we’ll be happy to take to you in more detail about our experiences in affiliate marketing.</p></div>