<div class="privacypolicy">
<h2>Privacy Policy</h2>
<p>ODST Limited (“ODST”, "we" or "us") takes your privacy seriously and will protect the privacy of all the personal information given to us, including complying with the UK's Data Protection Act 1998 and any other applicable data protection legislation, where applicable.</p>

<p>Please read this privacy policy, which is part of our Terms. By using the Site, you are agreeing to be bound by this privacy policy and the Terms.</p>

<p>'Personal information' is information that identifies you or another person or is capable of doing so and forms part of the Information (as defined in the Terms).</p>

<p>We will collect and safely store any Personal Information that you write in any registration form, or otherwise provide to us through the Site, so that we can provide you with the best quality service when using the Site. </p>

<p>If you post Information on the Site we may also use such Information to send you specific communications, if you've requested it, to comply with the law and as necessary, to prevent illegal activity and/or to protect our interests.</p>

<p>If you choose to post information to the Site or through a connected site, you do so at your own risk.</p> 

<p>We will not be liable to you or to any third party for any loss or damage resulting from anything posted on the Site. We do not have any control over links from other sites and take no responsibility for any information you give to companies posting links on the Site.</p>

<p>This policy may change from time to time. By continuing to use the Site you are agreeing to any updated versions.</p>

ODST Limited 2011.
</div>