{literal}
<script>
  $(document).ready(function() {
    if (!("autofocus" in document.createElement("input"))) {
      $("#name").focus();
    }
  });
</script>
{/literal}

{if $page.feedback}
	<div class="feedback" style="margin: 20px auto 20px auto; width: 600px;">
		{$page.feedback}
	</div>
	
{/if}

{if $page.showform}
<form action="/resetpassword.html?e={$page.email}&chk={$page.chk}" method="post">
	<fieldset class="form">
		<ol>
			<h1 style="color:#ffffff">Reset Password</h1><br>
			<li>
				<input id="password" name="password" class="text" type="password" placeholder="password" autofocus />
			</li>
			<li>
				 <input id="password2" name="password2" class="text" type="password" placeholder="confirm password" />
			</li>
			<li>
				<input class="submit" name="changepassword" type="submit" value="Change Password" />
			</li>
		</ol>
	</fieldset>
</form>
{/if}