{literal}
<script>
  $(document).ready(function() {
    if (!("autofocus" in document.createElement("input"))) {
      $("#name").focus();
    }
  });
</script>
{/literal}

{if $page.feedback}
	<p class="feedback" style="text-align: center">
		{$page.feedback}
	</p>
	
{/if}

{if $page.showform}
<p>Enter your new password</p>
<form action="/resetpassword.html" method="post">
	<fieldset class="form">
		<ol>
			<li>
				<input id="password" name="password" class="text" type="text" placeholder="Password" autofocus />
			</li>
			<li>
				 <input id="password2" name="password2" class="text" type="password" placeholder="Password2" />
			</li>
			<li>
				<input class="submit" name="changepassword" type="submit" value="Change Password" />
			</li>
		</ol>
	</fieldset>
</form>
{/if}