<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
	<head>
		<link rel="stylesheet" href="/style/style.css" type="text/css" media="screen">
		<title>{if $page.title}{$page.title} - {/if}Performance Marketing | ODST</title>
		<script language="JavaScript" type="text/javascript" src="/contentflow.js"></script> 
		<script tyle="text/javascript">
			{literal}
	        var cf = new ContentFlow('contentFlow', {reflectionColor: "#ffffff", scaleFactor: 1});
	        {/literal}
	    </script>
	    {literal}
	    <script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-9315501-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
		{/literal}
	</head>
	<body class="">
		<div id="header">
			<div class="innerHeader">
				<a href="/"><img src="/images/odst_logo.png" /></a>
			</div>
		</div><!-- END #header -->
		
		
	    </div>
		<div id="content" class="clearfix">
			<div class="feedback" style="margin: auto; width: 600px;">
				&nbsp;
				{foreach from=$error item="err"}
					{$err}
				{/foreach}

			</div>
			<div class="signup">
				{if $signup_complete == false}
				<form method="post" action="/signup.html">
					<fieldset class="form">
						<ol>
							<h1 style="color: #ffffff;">
								Signup
							</h1>
							<br />
							<li>
								<label class="text" style="color: #ffffff;">email address</label>
								<input id="name" name="user[email]" class="text" type="text" placeholder="email address" autofocus value="{$post.email}"/>
							</li>
							<li>
								<label class="text" style="color: #ffffff;">password</label>
								 <input id="pass" name="user[password]" class="text" type="password" placeholder="" />
							</li>
							<li>
								<label class="text" style="color: #ffffff;">confirm password</label>
								 <input id="pass2" name="user[password2]" class="text" type="password" placeholder="" />
							</li>
							<li>
								<label class="text" style="color: #ffffff;">first name</label>
								 <input id="fname" name="user[fname]" class="text" type="text" placeholder="" value="{$post.fname}"/>
							</li>
							<li>
								<label class="text" style="color: #ffffff;">surname</label>
								 <input id="sname" name="user[sname]" class="text" type="text" placeholder="" value="{$post.sname}"/>
							</li>
							<li>
								<table cellpadding="0" cellspacing="0">
								<tr>
									<td width="2px">
										<input id="sname" style="width: 20px" name="user[agree]" class="text" type="checkbox" placeholder="" />
									</td>
									<td>
										<label class="text" style="color: #ffffff;">accept <a href="/legal/terms_and_conditions.html" target="_blank">T&amp;Cs</a></label>
									</td>
									
								</tr>
								</table>
								
								 
							</li>
							<li>
								<input class="submit" name="create" type="submit" value="Create Account" />
							</li>
							<li>
								<br />
								<br />
							</li>

						</ol>
					</fieldset>
				</form>
				<br />
				<br />

				<br />
				{else}	
					{literal}
					<script type="text/javascript">
						_gaq.push(['_trackPageview', '/signup_complete']);
					</script>
					{/literal}

					You are now signed up!

				{/if}
			</div>

	    </div>
	    <!-- END #content --> 
		<div id="footer">
			<div class="content">
				<a rel="nofollow" href="/legal/privacy_policy.html">privacy policy</a>
			</div>
		</div><!-- END #footer --> 
	</body>
</html>