<div class="privacypolicy">
<h2>Terms and Conditions</h2>
1. The Tools<br />
www.odst.co.uk and the associated plug-in products will be known as the “Tools”
in these terms and conditions. ODST Limited, including any subsidiaries and
affiliates is known as the Tools Owner, ("we" or "us" or "our") in these terms and
conditions. We provide the information contained within the Tools to visitors
("you" or "your") subject to these terms and conditions set out below, the
privacy policy and any other relevant notices (together, the “Terms).
<br /><br />
2. Information within the Tools<br />
2.1 While every effort is made to update the information contained within the
Tools, we do not make any representations or warranties as to the accuracy,
completeness or reliability of information, opinions, data and/or content
contained within the Tools (together "Information") and shall not be bound in
any manner by any Information.
<br /><br />
2.2 We reserve the right to change or discontinue without notice any aspect of
the Tools. You rely on the information contained within the Tools at your own
risk.<br />

3. Trade Marks<br />
Nothing contained within the Tools should be construed as granting any licence
or right to use any of the registered or unregistered trade marks, names, logos
and service marks (collectively "Trade Marks") displayed within the Tools or
on any websites owned by us or any third party, without express prior written
permission.
<br /><br />
4. External Links<br />
4.1 All external links provided within the Tools are not controlled by us and we
make no representation regarding their content. Use of external links is at your
own risk and you must refer to any external websites’ terms and conditions of
use.
<br /><br />
4.2 It is forbidden to create hypertext links to the Tools without our express
prior written permission, but we’re happy to consider link requests.
<br /><br />
5. Public or Third Party Forums and submissions<br />
We are not responsible for any material submitted to the public areas or third
party areas by you anywhere within or as a result of using the Tools. We reserve
the right to remove any material submitted or posted by you without notice, if
we believe that you have or are likely to:
<br /><br />
a) abuse, harass, stalk, defame threaten or otherwise violate the rights of
other users/third parties;
b) publish, post or disseminate any defamatory, obscene, indecent or unlawful material, threatening;
<br /><br />
c) post or upload files that contain viruses, corrupted files or anything that
may damage the Tools and/or a third party's computer systems;
d) violate the Trade Marks any copyright, trade mark, or other applicable or
rights of us or any third party;
e) and submit material that is intended to solicit business, be sexually related,
racially offensive, profane, pornographic or violates any applicable law.
<br /><br />
6. Warranties<br />
6.1 We make no express or implied warranties, representations or guarantees
regarding the Tools, or any personal information or material and information
transmitted by you.
<br /><br />
6.2 We make no warranty or representation that information within the Tools
is appropriate for use in any jurisdiction outside of England and Wales. By
accessing and interacting with the Tools, you warrant and represent that you are
legally entitled to do so.
<br /><br />
7. Your indemnity<br />
You hereby agree to indemnify us against any loss, liability, damage or expense
of whatever nature, which we or any third party may suffer, which is caused by
or attributable to, whether directly or indirectly, your use of the Tools.
<br /><br />
8. Disclaimer of Liability<br />
8.1 We will not be responsible for any direct, indirect or consequential liability
for any loss, liability, damage, personal injury or expense whatsoever suffered
by you or any third party as a result of directly or indirectly to the Tools, any
products advertised for sale within the Tools or any Information. For the
avoidance of doubt, we will not liable to you in any manner whatsoever if any
internet tool provided to you by ODST breaks or fails to work in any way.
<br /><br />
8.2 We shall not be liable in any way to you or to any other person or corporation
whatsoever for any direct, indirect or consequential loss, liability, damage,
personal injury or expense of any nature whatsoever arising from any delays,
inaccuracies, omissions or non-performance or for any actions taken, or in
relation to your usage of all content accessed by using the Tools.
<br /><br />
9. General<br />
9.1 These Terms constitute the sole record of the agreement between you and us
in relation to your use of the Tools.
<br /><br />
9.2 We may modify the Terms at any time. By using the Tools you are bound to
the current version of the Terms and you shall be responsible for reviewing the
Terms each time you use the Tools.
<br /><br />
9.3 Where any conflict or contradiction appears between the provisions of the
Terms and any other relevant terms and conditions, policies or notices, these
Terms apply.
<br /><br />
9.4 No extension of time agreed with us will constitute a waiver of any of our
existing or future rights.
<br /><br />
9.5 We shall be entitled to assign and delegate all or any of our rights and
obligations to any third party.
<br /><br />
9.6 All provisions of these Terms are severable from one another. If any
provision becomes unenforceable, void or unlawful in any jurisdiction, the
remaining provisions of the Terms shall remain in full force and effect.
<br /><br />
9.7 By using the Tools you are agreeing that the Tools Owner can electronic mail
you on occasion with updates, offers, promotions, products and services that we
think will interest you.
<br /><br />
9.8 These Terms are governed by the laws of England and Wales, without giving
effect to any principles of conflict of law. You hereby consent to the exclusive
jurisdiction of the English courts in respect of any disputes arising in connection
with the Tools.
<br /><br />
9.9 Please email support@odst.co.uk with any questions, comments, errors or
omissions regarding the Tools, or in relation to the way in which we are handling
your personal information.
<br /><br />
ODST Limited 2011.
<br /><br /><br /><br />
</div>