<div id="pagecontent">
	<div class="header">
	</div>

	<div class="main clearfix">
		<div style="text-align: center">
			<h2>ODST's wordpress plugin:</h2>
		</div>
		<section class="column">
			<div>
				<h2 class="top" style="text-align: center">Why a WordPress plugin?</h2>
				<p>ODST's WordPress plugin allows affiliates to create and maintain content rich, SEO friendly websites that are dedicated to you.</p>
				<img src="/images/wordpressplugin/whywordpress.png" />
			</div>

			<div>
				<h2 style="text-align: center">easy to use</h2>
				<p>our easy to use tools integrate seamlessly into WordPress, so adding your products, carousels and directories has never been easier.</p>
				<img src="/images/wordpressplugin/easytouse.png" />
			</div>

			<div>
				<h2 style="text-align: center">keep it accurate and updated</h2>
				<p>in the past, ensuring that your affiliates had the latest creatives and correct pricing took days of management and following up. however, with the ODST WordPress plugin, price changes and new products are all handled automatically.</p>
				<img src="/images/wordpressplugin/uptodate.png" />
				<p>all price and product information details can be updated as often as you require, so there will never be any need to worry about affiliates having out of date prices or product information.</p>
			</div>

		</section>

		<section class="column right_column">
			<div>
				<h2 class="top" style="text-align: center">branded for you</h2>
				<p>ODST plugins include branded carousels and directories, to help increase your exposure and  brand awareness online.</p>
				<img src="/images/wordpressplugin/brandedforyou.png" />
				<p>branded carousels and directories offer a clever and engaging way for customers to interact with your deals, whilst keeping your branding in tune with your marketing efforts and, most importantly, helping to increase your advertisement conversions.</p>
			</div>

			<div>
				<h2 style="text-align: center">keeping it relevant and accurate</h2>
				<p>matching the right products to the affiliate's content has never been easier with ODST's contextual product matching. Affiliates simply select the contextual option when adding a carousel or directory to their posts or pages, and the plugin will find the best suited products.</p>
				<img src="/images/wordpressplugin/keepitacurrat.png" />
			</div>

			<div>
				<h2 style="text-align: center">communications with affiliates</h2>
				<p>all ODST plugins have a built in communication centre that appears in both the plugin's admin page, and the dashboard of the WordPress installation.</p>
				<img src="/images/wordpressplugin/buildincomms.png" />
				<p>it's an ideal solution for keeping your affiliates informed of any offers or promotions they should be getting ready for, as well as attracting new affiliates to your programme.</p>
			</div>
		</section>
	</div>
	<div class="main clearfix">
		<div style="text-align: center">
			 <h2 style="text-align: center">why not contact ODST today?</h2>
		</div>

		<section class="column">
			<div>
				<h2 style="text-align: center"></h2>
				<p><a href="http://odst.co.uk/wordpress/plugin/easyjetholidays.html"><img src="http://odst.co.uk/images/clientlogos/client1.jpg"></a>
					<a href="http://odst.co.uk/wordpress/plugin/octopustravel.html"><img src="http://odst.co.uk/images/clientlogos/client7.jpg"></a>
				</p>
			</div>
		</section>

		<section class="column right_column">
			<div>
				<h2 style="text-align: center">getting started</h2>
				<p>simply email us at sales@odst.co.uk. Setup is normally within 10 days. prices start from just £100 per month and include full plugin support, regular plugin updates and one custom design</p>
			</div>
		</section>
	</div>
	<div class="main clearfix">
		<div style="text-align: center">
			<h2>download the ODST wordpress plugin presentation</h2>
			<a href="/images/ODST-wordpress.pdf" target="_blank"><img src="/images/plugin/clickhere.png" /></a><br />
			<br />
			<br />
			<br />
			<br />
			<br />
		</div>
		
	</div>
</div>