<div id="pagecontent">
	<div class="header">
	</div>

	<div class="main clearfix">
		<div style="text-align: center">
			<h2>Facebook apps by ODST</h2>
		</div>
		<section class="column">
			<div>
				<h2 class="top" style="text-align: center">Elegant Design</h2>
				<p>Your custom facebook app is designed to the look and feel of your site and offer easy integration of products to promote to your facebook fan base.</p>
				<img width="280px" src="/images/facebookapps/offer-page.png" />
			</div>

			<div>
				<h2 style="text-align: center">Custom apps</h2>
				<p>ODST customise apps allow you to choose the buttons and messages seen by facebook users before and after they’ve liked your page as well as the message seen when users share your offers with there freinds</p>
				<img width="280px" src="/images/facebookapps/discount-button.png" />
			</div>

		</section>

		<section class="column right_column">
			<div>
				<h2 class="top" style="text-align: center">Get More Fans</h2>
				<p>The ODST facebook offers app helps you to grow your likes using our fan wall which means users have to like your page before they can interact and view your offers, giving you a larger audience base to push promotion and offers to as well as to engage with.</p>
				<img width="280px" src="/images/facebookapps/notlikedofferpage.png" />
			</div>

			<div>
				<h2 style="text-align: center">Customer Loyalty</h2>
				<p>Offering new and existing fans exclusive offers and discounts enables you to increase your customer loyalty. ODST’s facebook app also encourages your fans to share these deals with their friends which can have a substantial effect on your brands overall visibility.</p>
				<img width="280px"  src="/images/facebookapps/share.png" />
			</div>
		</section>
	</div>

	<div class="main clearfix">
		<div style="text-align: center">
			<h2>Start making more of your facebook friends</h2>
			<p>ODST offer Facebook offer and discount apps on a CPA basis so to start making more from your facebook friends <a href="http://odst.co.uk/resources/contact-us" rel="nofollow">contact ODST.co.uk today</a></p>
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
		</div>
		
	</div>
</div>