	
/* Carousel */


.crieffhydro .odst_scontainer .slider li  a.name {background-color:#48718d !important; color:#FFFFFF !important}
.crieffhydro .odst_scontainer .grid li  a.name {background-color:#48718d !important; color:#FFFFFF !important}
.crieffhydro .odst_scontainer.vertical li  a.name{background-color:#48718d !important; color:#FFFFFF !important}

.crieffhydro .odst_scontainer .slider li  a.name {line-height:11px;font-size:11px}
.crieffhydro .odst_scontainer .grid li  a.name {line-height:11px;font-size:11px}


.widget .odst_hotels.crieffhydro a.name, .odst_hotel_table.crieffhydro div.name a.name {background-color:#48718d  !important; color:#FFFFFF  !important;}
.post .odst_hotels.crieffhydro a.name{background-color:#48718d  !important; 
	color:#FFFFFF  !important;}
	
.crieffhydro .odst_scontainer.vertical {
border: 2px solid #48718d !important;
background-color:#ffffff  !important;;
}

.odst_hotel_table.crieffhydro div.price div.merchant
{
margin-top:5px;
}

.odst_hotel_table.crieffhydro div.photo img {
    max-height: 90px;
    max-width: 120px;
    min-height: 90px;
    min-width: 120px;
}

.odst_hotel_table.crieffhydro div.photo {    
    max-width: 120px;
}

.crieffhydro .odst_scontainer img.photo {
    min-height: 90px;
}

.crieffhydro .content_units .slider li, .crieffhydro .content_units .grid li {
    height: 165px;
}

.crieffhydro .odst_scontainer div.grid img.photo {
    min-height: 90px;
}

	
.crieffhydro .odst_scontainer a.prevBtn{
	background:url(../img/crieffhydro/prev-blue.png) no-repeat 0 0;	
	}	

	
.crieffhydro .odst_scontainer a.nextBtn{ 
	background:url(../img/crieffhydro/next-blue.png) no-repeat 0 0;		
	}	
		
.crieffhydro .odst_scontainer.vertical a.nextBtn
{
	background:url(../img/crieffhydro/vert-next-blue.png) no-repeat 0 0;	
}

.crieffhydro .odst_scontainer.vertical a.prevBtn
{
	background:url(../img/crieffhydro/vert-prev-blue.png) no-repeat 0 0;	
}

/* // Carousel */



.crieffhydro.container
{
	  border: 2px solid #48718d;

}

.crieffhydro.odst_hol_logo,.crieffhydro .odst_hol_logo
{
background: url(../img/crieffhydro/crieffhydro.png) no-repeat scroll right bottom transparent;
}
.crieffhydro.odst_hol_logo.vertical,.crieffhydro .odst_hol_logo.vertical{background: url(../img/crieffhydro/crieffhydro.png) no-repeat scroll right bottom transparent;}

.odst_hotels.crieffhydro div.odst_hol_logo.vertical
{
background: url(../img/crieffhydro/crieffhydro.png) no-repeat scroll right bottom transparent;
height:26px;
border-bottom: solid 1px #343434;
margin-bottom:5px;
background-position:left;
width:137px
}

.odst_hotels.crieffhydro.odst_hotel_table div.odst_hol_logo
{
border-bottom: none;
margin-bottom:0px;
margin-left:342px;
width:137px
}


.crieffhydro.odst_hol_logo .odst_hol_logo_padding, .crieffhydro .odst_hol_logo_padding
{
display:block;
height:30px;
}

.crieffhydro .thumb_star
{
background: url(../img/crieffhydro/stars.png) no-repeat 0 0;
}

.thumb_more
{
color:#48718d!important;
}

.thumb_more a
{
color:#48718d !important;
}

.crieffhydro .thumb_price

{
color:#48718d !important;
}



.odst_hotel_table.crieffhydro .row.even
{
background-color:#ECEBE9  !important;
}

.odst_hotel_table.crieffhydro div.price span.from
{
color: #48718d !important;
}

.odst_hotel_table.crieffhydro div.price a
{
color: #48718d!important;
text-decoration:none !important;
}


