	
/* Carousel */


.kelkoo .odst_scontainer .slider li  a.name {background-color:#FF6600 !important; color:#FFFFFF !important}
.kelkoo .odst_scontainer.vertical li  a.name{background-color:#FF6600 !important; color:#FFFFFF !important}

.widget .odst_hotels.kelkoo a.name, .odst_hotel_table.kelkoo div.name a.name {background-color:#FF6600  !important; color:#FFFFFF  !important;}
.post .odst_hotels.kelkoo a.name{background-color:#FF6600  !important; 
	color:#FFFFFF  !important;}
	
.kelkoo .odst_scontainer.vertical {
border: 2px solid #ff6600 !important;
background-color:#ffffff  !important;;
}



	
.kelkoo .odst_scontainer a.prevBtn{
	background:url(../img/kelkoo/prev-blue.png) no-repeat 0 0;	
	}	

	
.kelkoo .odst_scontainer a.nextBtn{ 
	background:url(../img/kelkoo/next-blue.png) no-repeat 0 0;		
	}	
		
.kelkoo .odst_scontainer.vertical a.nextBtn
{
	background:url(../img/kelkoo/vert-next-blue.png) no-repeat 0 0;	
}

.kelkoo .odst_scontainer.vertical a.prevBtn
{
	background:url(../img/kelkoo/vert-prev-blue.png) no-repeat 0 0;	
}

/* // Carousel */



.kelkoo.container
{
	  border: 2px solid #ff6600;

}

.kelkoo.odst_hol_logo,.kelkoo .odst_hol_logo
{
background: url(../img/kelkoo/kelkoo.png) no-repeat scroll right bottom transparent;
}
.kelkoo.odst_hol_logo.vertical,.kelkoo .odst_hol_logo.vertical{background: url(../img/kelkoo/ej_vertical_header.png) no-repeat scroll right bottom transparent;}

.odst_hotels.kelkoo div.odst_hol_logo.vertical
{
background: url(../img/kelkoo/ej_vertical_header.png) no-repeat scroll right bottom transparent;
height:26px;
border-bottom: solid 1px #343434;
margin-bottom:5px;
background-position:left;
width:137px
}

.odst_hotels.kelkoo.odst_hotel_table div.odst_hol_logo
{
border-bottom: none;
margin-bottom:0px;
margin-left:342px;
width:137px
}


.kelkoo.odst_hol_logo .odst_hol_logo_padding, .kelkoo .odst_hol_logo_padding
{
display:block;
height:30px;
}

.kelkoo .thumb_star
{
background: url(../img/kelkoo/stars.png) no-repeat 0 0;
}

.thumb_more
{
color:#ff6600 !important;
}

.thumb_more a
{
color:#ff6600  !important;
}

.kelkoo .thumb_price

{
color:#ff6600  !important;
}



.odst_hotel_table.kelkoo .row.even
{
background-color:lightBlue  !important;
}

.odst_hotel_table.kelkoo div.price span.from
{
color: #FF6600  !important;
}

.odst_hotel_table.kelkoo div.price a
{
color: #FF6600 !important;
text-decoration:none !important;
}