/* //////////// GLOBAL STYLES /////////// */
body {
	background: #b2b2b2;
	margin: 0;
}
img { 
	border: none;
}
.discount {
    color:#e7398e;
    font-family: "Arial Rounded MT Bold", Arial, sans-serif;
	width: 125px;
	margin-bottom: 5px;
	margin-left: 70px;
}
h3 {
	color: #fff;
	font-family: "Arial Rounded MT Bold", Arial, sans-serif;
	font-size: 15px;
	margin-left: 70px;
	margin-top: 4px;
	margin-bottom: 5px;
	line-height: 0.5em;
}
.widget {
	background-color:#262523; 
	height:60px;
	position: relative; 
	width:486px;
	margin: auto; 
		
}
/* //////////// LEFT COLUMN "AD 1" /////////// */
.leftcol {
	float: left;
	height:60px;
	width:430px;
	position: relative;
	border: 1px solid #fff;
}
.leftimg  {
	position:absolute;
	top: 1px;
	right: 0;
	left: 2px;
	height: 60px;
	width: 60px;
	z-index: 0;
	text-align: center;
}
.offer {
	height: 60px;
	width: 222px;
    color:#fff;
    margin: -12px 5px 3px 70px;
    font-family:"Helvetica", Arial, sans-serif;
    font-size: 12px;
    overflow: hidden;
    max-height: 48px;
}
.daysleft {
	background-color: #fff;
    height:20px;
    width:90px;
    font-family: "Helvetica", Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    top: 2px;
    text-align: right;
    z-index: 100;
    right: 31px;
    position: absolute;
}
.daysleft p {
	margin: 4px 4px 5px auto;
}
.goArrowButton {
	position: absolute;
	height: 54px;
	width: 27px;
	right: 2px;
	top: 2px;
}
/* //////////// MIDDLE COLUMN "AD 2" /////////// */
.midcol {
	float: left;
	height:58px;
	width:322px;
	border: 1px solid #fff;
	position: relative;
	float: left;
	margin-left: 15px;
}
/* //////////// RIGHT COLUMN /////////// */
.rightcol {
	float: right;
	height: 60px;
	width: 68px;
    color:#fff;
    font-family:"Helvetica", Arial, sans-serif;
    font-size: 11px;
    
}
.rightcol p {
	padding-right: 3px;
	padding-left: 5px;
}

.arrownav {
	text-align: right;
	height: 17px;
	margin-bottom: 0;
	margin-right: 2px;
}
.previous img {
	float: left;
}
.next img {
	float: right;
}
.logo {
	position: absolute;
	bottom: 6px;
	right: 0;
	width: 51px;
	height: 20px;
	text-align: right;
	padding-right: 2px;
}
.socialemail {
   width: 68px;
   height: 20px;
   position: absolute;

   right:0; 
   text-align:right;
   top: 32px;
}
.socialemail2 {
	margin-left:1px;
}
.emailicon {
	padding-right: 1px;
}